.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000;
  font-size: 3rem;
  text-decoration: none;
}

.navList {
  display: flex;
  margin: 0;
}

.navItem {
  color: #999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;

  &:hover {
    color: #666;
  }
  &.active {
    color: #333;
  }
}

.link {
  color: #999;
}
